# iPusnas Credentials
IPUSNAS_EMAIL=your_email@example.com
IPUSNAS_PASSWORD=your_password

# Configuration
# Path to save downloaded books (default: ./downloads)
IPUSNAS_OUTPUT_DIR=/path/to/downloads
# Path to QPDF binary (default: qpdf in PATH)
IPUSNAS_QPDF_PATH=/usr/bin/qpdf
